<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Maximilien Marie{% endblock %}</title>
        {% stylesheets 'css/*.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen">
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-spy="scroll" data-target="#myScrollspy">


        <div class="container">
            <div class="header">

                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="dropdown {% if app.request.attributes.get('_route') == 'mmarie_home_homepage' %}active{% endif %}" >
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            {{ 'home'|trans }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('mmarie_home_homepage', {'_locale': app.request.locale }) }}#who">{{ 'who.am.i'|trans }}</a></li>
                            <li><a href="{{ path('mmarie_home_homepage', {'_locale': app.request.locale }) }}#experience">{{ 'experience'|trans }}</a></li>
                        </ul>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'mmarie_skills_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_skills_homepage', {'_locale': app.request.locale }) }}">{{ 'skills'|trans }}</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'mmarie_portfolio_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_portfolio_homepage', {'_locale': app.request.locale }) }}">{{ 'portfolio'|trans }}</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'mmarie_contact_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_contact_homepage', {'_locale': app.request.locale }) }}">{{ 'contact'|trans }}</a>
                    </li>
                </ul>
                <h3 class="text-muted">Maximilien Marie</h3>
            </div>

            <div style="background-color: #F5F5F5;">
            {% block body %}{% endblock %}
            </div>

        </div>



        {% javascripts 'js/*.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
            <script type="text/javascript">
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
        {% endblock %}
    </body>
</html>
