<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Maximilien Marie{% endblock %}</title>
        {% stylesheets 'css/*.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen">
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-spy="scroll" data-target="#myScrollspy">


        <div class="container">
            <div class="header">

                <ul class="nav nav-pills pull-right">
                    <li {% if app.request.attributes.get('_route') == 'mmarie_home_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_home_homepage', {'_locale': app.request.locale }) }}">{{ 'home'|trans }}</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'mmarie_skills_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_skills_homepage', {'_locale': app.request.locale }) }}">{{ 'skills'|trans }}</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'mmarie_about_me_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_about_me_homepage', {'_locale': app.request.locale }) }}">{{ 'about.me'|trans }}</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'mmarie_portfolio_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_portfolio_homepage', {'_locale': app.request.locale }) }}">{{ 'portfolio'|trans }}</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'mmarie_cv_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_cv_homepage', {'_locale': app.request.locale }) }}">{{ 'cv'|trans }}</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'mmarie_contact_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_contact_homepage', {'_locale': app.request.locale }) }}">{{ 'contact'|trans }}</a>
                    </li>

                    <li style="margin-left: 50px;" {% if app.request.locale == 'fr' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_translation_homepage', {'_locale': 'fr', 'route': app.request.attributes.get('_route') }) }} ">
                            <img class="img-responsive" src="{{ asset('images/icons/fr.png') }}">
                        </a>
                    </li>
                    <li {% if app.request.locale == 'en' %}class="active"{% endif %}>
                        <a href="{{ path('mmarie_translation_homepage', {'_locale': 'en', 'route': app.request.attributes.get('_route') }) }}">
                            <img class="img-responsive" src="{{ asset('images/icons/uk.png') }}">
                        </a>
                    </li>
                </ul>
                <h3 class="text-muted">Maximilien Marie</h3>
            </div>

            <div style="background-color: #F5F5F5;">
            {% block body %}{% endblock %}
            </div>

        </div>



        {% javascripts 'js/*.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
            <script type="text/javascript">
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
        {% endblock %}
    </body>
</html>
