{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

            <div class="row featurette">
                <img class="featurette-image img-circle pull-right img-responsive"
                     src="http://louis.vicainne.fr/img/competences/web.jpg" width="300" height="300">

                <h2 class="featurette-heading">{{ 'programming.title'|trans }} <span
                            class="text-muted">{{ 'programming.sub'|trans }}</span></h2>

                <p class="lead">{{ 'programming.text'|trans }}</p>
            </div>

            <hr class="divider">

            <div class="row featurette">
                <img class="featurette-image img-circle pull-left img-responsive"
                     src="http://louis.vicainne.fr/img/competences/systems.jpg" width="300" height="300">

                <h2 class="featurette-heading">{{ 'system.title'|trans }} <span
                            class="text-muted">{{ 'system.sub'|trans }}</span></h2>

                <p class="lead">{{ 'system.text'|trans }}</p>
            </div>

            <hr class="divider">

            <div class="row featurette">
                <img class="featurette-image img-circle pull-right img-responsive"
                     src="http://louis.vicainne.fr/img/competences/network.jpg" width="300" height="300">

                <h2 class="featurette-heading">{{ 'network.title'|trans }} <span
                            class="text-muted">{{ 'network.sub'|trans }}</span></h2>

                <p class="lead">{{ 'network.text'|trans }}</p>
            </div>

            <hr class="divider">

            <div class="row featurette">
                <img class="featurette-image img-circle pull-left img-responsive"
                     src="http://louis.vicainne.fr/img/competences/electronique.jpg" width="300" height="300">

                <h2 class="featurette-heading">{{ 'electronics.title'|trans }} <span
                            class="text-muted">{{ 'electronics.sub'|trans }}</span></h2>

                <p class="lead">{{ 'electronics.text'|trans }}</p>
            </div>

        </div>
    </div>
{% endblock %}
